html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 380px;
    }
    h1 {
        font-family: 'Menlo', monospace;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        color: #2f5876;
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    img {
        width: 30px;

    }
    .modal-header {
        align-items: center;
        border-bottom: 0.5px solid #dadada;
        height: 50px;
    }
    form {
        align-items: center;
        padding: 16px;
        padding-top: 0px;
        padding-bottom: 0px;
        clear: left;
    }
    .logo {
        padding: 16px;
        float: left;
    }
    .logo-icon {
        vertical-align: text-bottom;
        margin-right: 12px;
    }
    .version {
        color: #444;
        font-size: 18px;
    }
    #total {
        font-family: 'Menlo', monospace;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        color: #2f5876;
        text-align: center;
        cursor: pointer;
    }
    #total:hover {
        font-family: 'Menlo', monospace;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        color: #2f7876;
        text-align: center;
        cursor: pointer;
    }
    select {
        padding-left: 10px;
        align-items: center;
        height: 25px;
        width: 320px;
        font-size: 15px;
    }
    .description {
        color: #444444;
        font-size: 10px;
        padding-bottom: 0;
    }
    #copyText {
        color: #444444;
        font-size: 10px;
        padding-bottom: 0;
        text-align: center;
        margin-top: 0;
    }

/* свич для переключения плагинов */

    .switch-field {
        display: flex;
        margin: 10px;
        overflow: hidden;
    }
    
    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    
    .switch-field label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }
    
    .switch-field label:hover {
        cursor: pointer;
    }
    
    .switch-field input:checked + label {
        background-color: #a5dc86;
        box-shadow: none;
    }
    
    .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
    }
    
    .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
    }


    /* свич для переключения бесячести */

    .switch-field-irritation {
        line-height: 2.0;
        display: flex;
        overflow: hidden;
    }

    .switch-field-irritation input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field-irritation label {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }

    .switch-field-irritation label:hover {
        cursor: pointer;
    }

    .switch-field-irritation input:checked + label {
        background-color: #c85d006c;
        box-shadow: none;
    }
